.rback{
    outline-width: 5px;
outline-style: solid;
    outline-color: #85A947;
    background-color: #EFE3C2;
}

.menu-block{

    font-size:4vw;
    padding:4px 4px;
    max-width: 22%;
    min-width: 10%;
    display:inline-block;
    outline:0;
    position: relative;

}

.font-change{
    font-style: italic;
}

.menu-block:hover{
    outline-width: 5px;
    background-color: #EFE3C2;
    outline-color: #85A947;
}

#rback{
    outline-width: 5px;
outline-style: solid;
    outline-color: #85A947;
    background-color: #EFE3C2;
}


li::marker {
    color: #3E7B27;
  }

    
a:visited {
      color: #3E7B27;
      background-color: transparent;
      text-decoration: none;
    }
a:link {
      color: #EFE3C2;
      background-color: transparent;
      text-decoration: none;
    }
    
table{
        
        font-size: 24;
        width: 100%
        }
